*{
margin: 0;
padding:0;
}
body{
    background-color: whitesmoke;
}
.container{
    width:1000px;
    margin: 0 auto;
}
div#logo{
    display: inline-block;
    vertical-align: top;
    width: 750px;
}
div#suosou{
    display: inline-block;
    vertical-align: top;
    margin-top: 155px;
    text-align: right;
}
input[type="text"]{
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    padding-left: 10px;
    width: 165px;
    display: inline-block;
    vertical-align: top;
}
input[type="submit"]{
    background-color: rgb(68, 117, 221);
    color: white;
    height: 42px;
    font-size: 20px;
    padding:0 10px;
    display: inline-block;
    vertical-align: top;
}
div#nav{
    background-color: #3598db;
    height: 60px;
    width: 1000px;
}
div#nav nav li{
    display: inline-block;
    line-height: 60px;
    padding: 0 10px;
    border-right: solid 1px #2f89c5;
    -webkit-transition:background 1s linear;
    -moz-transition:background 1s linear;
    -ms-transition:background 1s linear;
    -o-transition:background 1s linear;
    transition:background 1s linear;
}
div#nav nav li.on,div#nav nav li:hover{
    background-color: #2f89c5;
}
div#nav nav a{
    color: white;
    font-size: 16px;
    text-decoration: none;
}